<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List - Vets</title>
    <link href="#" rel="stylesheet">
    <link href="#" rel="icon">
</head>
<body>
    <h2 th:text="'List of Vets'"></h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px">Id</th>
            <th style="width: 150px">First Name</th>
            <th style="width: 150px">Last Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vet : ${vets}">
            <td th:text="${vet.id}"></td>
            <td th:text="${vet.firstName}"></td>
            <td th:text="${vet.lastName}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>